.append-icon{
  font-size: 3rem;
}

.append-house-container{
  background-color: #becfd3;
  color: #0a0707;
  width: 40rem;
  margin: 0 auto;
  padding: 20px;
  border: 1.4px solid black;
  border-radius: 5px;
  backdrop-filter: blur(15px); /* Glass Effect */
  text-align: center;

  margin-top: 5%;
  display: flex; /* Use flexbox for all devices */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center items horizontally */
  user-select: none;
  margin-left: 35%;
}

.append-house-container p{
  font-size: 2rem;
}

.existing-house-container {
  background-color: #222;
  color: #ccc;
  width: 40rem;
  margin: 0 auto;
  padding: 20px;
  border: 1.4px solid black;
  border-radius: 5px;
  backdrop-filter: blur(15px); /* Glass Effect */
  text-align: center;
  margin-top: 5%;
  display: flex; /* Use flexbox for all devices */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center items horizontally */
  user-select: none;
  margin-left: 40%;
}

.search-bar {
  margin-left:55%;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
}

.add-more-button{
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: 2%;
    background-color: rgb(249, 255, 240);
    color: black;
}

.add-more-button:hover{
    background-color: rgb(23, 65, 182);
    color: rgb(53, 41, 41);
}

@media(max-width:719px) {
  .append-house-container{
    background-color: #222;
    color: #ccc;
    width: 20rem;
    margin: 0 auto;
    padding: 20px;
    border: 1.4px solid black;
    border-radius: 5px;
    text-align: center;
    margin-top: 10%;
    display: flex; /* Use flexbox for all devices */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    user-select: none;
    margin-left: 20%;
  }

  .existing-house-container {
    background-color: #222;
    color: #ccc;
    width: 10rem;
    margin: 0 auto;
    padding: 20px;
    border: 1.4px solid black;
    border-radius: 5px;
    backdrop-filter: blur(15px); /* Glass Effect */
    text-align: center;
    margin-top: 5%;
    display: flex; /* Use flexbox for all devices */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    user-select: none;
    margin-left: 40%;
  }

  .search-bar {
    margin-left:55%;
  }
  
  .search-bar input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    font-size: 8.3px;
  }
  
}




