.fingerprint{
  font-size: 4rem;
}
  
.login-container , .signup-container 
{
  width: 310px;
  margin: 0 auto;
  padding: 20px;
  border: 1.4px solid black;
  border-radius: 5px;
  backdrop-filter: blur(15px); /* Glass Effect */
  text-align: center;
  margin-top: 6%;
  display: flex; /* Use flexbox for all devices */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center items horizontally */
  user-select: none;
}

.login-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 190%;
    margin-bottom: 20px;
}

.forgot-pass-login{
    color: blue;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.not-a-member
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
    text-decoration: none;
}

.common-input-field {
    padding: 10px;
    width: 90%;
    font-size: 90%;
    margin-bottom: 10px;
    color: black;
    background-color: white;
  }
  
  .common-input-field:focus {
    color: black;
    outline: none;
    border-color: black;
  }

  .login-container label {
    text-align: left;
    display: block; 
    margin-bottom: 10px; 
  }

.common-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: 5%;
    background-color: blue;
    color: white;
  }
  
  .common-button:hover {
    border: 2px black;
    background-color: black; 
    color: white; 
  }

  .signup-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 190%;
    margin-bottom: 20px;
}

.already-have-account{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
}