.user-dashboard {
  margin-top: 5%;
      display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dashboard-section {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 40%;
  margin-left: 25%;
}

.dashboard-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #b32424;
}

.maintenance-list,
.reminder-list {
  list-style: none;
  padding: 0;
}

.maintenance-item,
.reminder-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.maintenance-item:last-child,
.reminder-item:last-child {
  border-bottom: none;
}

.completed {
  background-color: #dff0d8; /* Green background for completed items */
}

.not-completed {
  background-color: #f2dede; /* Red background for not completed items */
}

/* Add any additional styles as needed */

/* Styling for the Maintenance Schedule Bar Graph */
.bar-graph {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0; /* Gray background color */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 10px;
}

.bar {
  height: 100%;
  background-color: #041d05; /* Green color for completed tasks */
  border-radius: 5px;
}

/* Additional text styles */
.user-dashboard {
  padding: 20px;
}

.dashboard-section {
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.dashboard-section p {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

